appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
Django==1.9.7
git+https://github.com/vladyslav2/django-fiber.git@django1.9
django-appconf==1.0.2
django-contrib-comments==1.7.1
django-mptt==0.8.4
djangorestframework==3.4.4
easy-thumbnails==2.3
pexpect==4.1.0
pickleshare==0.7.2
Pillow==3.2.0
ptyprocess==0.5.1
pytz==2016.4
simplegeneric==0.8.1
django_compressor==2.1
django-pure-pagination
django-helpdesk
django-markdown-deux==1.0.5