{% load staticfiles fiber_tags pure_tags %}

<div class="mainmenu-area">
 <div class="container">
  <div class="row">
   <!-- Logo Start -->
   <div class="col-lg-2 col-md-2 col-sm-12 logotype">  
    <div class="logo">
     <a href="/" class="site-header__logo-link">
      <img src="{% static "img/logo/logo-top.png" %}" alt="pure">
     </a>
    </div>
   </div>
   <!-- Logo End -->
   
   <div class="col-md-8 nopadding-right menutype">
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area">
     <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="mobile-menu">
                  
        </div>					
       </div>
      </div>
     </div>
    </div>
    <!-- mobile-menu-area end -->

    <!-- Main menu area start-->
    <div class="mega-collapse hidden-sm hidden-xs">
     <!-- begin site-nav -->
     {% show_pure_menu "mainmenu" 1 2 "all" %}
    </div>
    <!-- Navigation start end-->
   </div>
   
   <!-- Search Chart -->
   <div class="col-md-2 searchtype">
    <div class="search-chart">
     <div class="search-contain">
      <div class="search-content" style="display: none; height: 56px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
       <div class="site-header__search">
        <!-- /snippets/search-bar.liquid -->
        <form action="/search/" method="GET" class="input-group search-bar" role="search">
         <input type="text" placeholder="Поиск..." maxlength="128" class="input-text" value="" name="search">
         <button class="button" title="Search" type="submit"><span><span>Search</span></span></button>
        </form>
       </div>
      </div>
     </div>

     <div class="cart-area">
      <div class="top-cart">
       <a href="/cart/"><i class="fa fa-shopping-cart"></i></a>
      </div>
     </div>
    </div>
   </div>
  
  </div>
 </div>
</div>