
<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  
  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/favicon.png?3920912145228590763" type="image/png" />
  

  <!-- Title and description ================================================== -->
  <title>
  Account &ndash; maroko
  </title>

  

  <!-- Helpers ================================================== -->
  <!-- /snippets/social-meta-tags.liquid -->


  <meta property="og:type" content="website">
  <meta property="og:title" content="Account">
  
  <meta property="og:image" content="http://cdn.shopify.com/s/files/1/1132/9326/t/2/assets/logo.png?3920912145228590763">
  <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/1132/9326/t/2/assets/logo.png?3920912145228590763">
  


  <meta property="og:url" content="http://maroko-3.myshopify.com/account/login">
  <meta property="og:site_name" content="maroko">





<meta name="twitter:card" content="summary">


  <link rel="canonical" href="http://maroko-3.myshopify.com/account/login">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#747474">
	
  <link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,900,800,300,200' rel='stylesheet' type='text/css' />
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'/>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
  
  <!-- GOOGLE FONTS -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,900,800,300,200' rel='stylesheet' type='text/css' />
	
		<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,700,900" rel="stylesheet" type="text/css">
	

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  
  <!-- CSS ================================================== -->
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/animate.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/bootstrap.min.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/font-awesome.min.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery.bxslider.min.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery-ui.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/meanmenu.min.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/nivo-slider.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/normalize.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />  
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/owl.carousel.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />  
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/owl.theme.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />  
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/owl.transitions.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />  
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/timber.scss.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/main.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
    <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/style.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />
  <link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/responsive.css?3920912145228590763" rel="stylesheet" type="text/css"  media="all"  />  
  

  <!-- Header hook for plugins ================================================== -->
  <script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "maroko-3.myshopify.com";
      Shopify.theme = {"name":"maroko","id":88668167,"theme_store_id":null,"role":"main"};

//]]>
</script>


<script>
//<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=maroko-3.myshopify.com"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();

//]]>
</script>
<script id="__st">
//<![CDATA[
var __st={"a":11329326,"offset":-14400,"reqid":"194f4480-6075-420a-a239-4271bb89f310","pageurl":"maroko-3.myshopify.com\/account\/login","t":"prospect","u":"b18922410bb1"};
//]]>
</script>
<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>

      <script type="text/javascript">
        
      window.ShopifyAnalytics = window.ShopifyAnalytics || {};
      window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
      window.ShopifyAnalytics.meta.currency = 'USD';
      var meta = {};
      for (var attr in meta) {
        window.ShopifyAnalytics.meta[attr] = meta[attr];
      }
    
      </script>

      <script type="text/javascript">
        window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
          
        };
      </script>

      <script type="text/javascript" class="analytics">
        
        
        (function () {
          var customDocumentWrite = function(content) {
            var jquery = null;

            if (window.jQuery) {
              jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
              jquery = window.Checkout.$;
            }

            if (jquery) {
              jquery('body').append(content);
            }
          };

          var analytics = document.createElement('script');
          var loaded = false;
          var onload = function() {
            if (loaded) return;
            loaded = true;
            window.ShopifyAnalytics.lib = window.trekkie.noConflict();
            window.ShopifyAnalytics.lib.initialize(
              {"Trekkie":{"appName":"storefront","environment":"production","defaultAttributes":{"shopId":11329326}}}
            );

            window.ShopifyAnalytics.lib.ready(function() {
              

              var originalDocumentWrite = document.write;
              document.write = customDocumentWrite;
              try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
              document.write = originalDocumentWrite;

              
        window.ShopifyAnalytics.lib.page(
          null,
          {}
        );
      
              
            });
          }
          analytics.onload = onload;
          analytics.onreadystatechange = function() {
            if (!/complete|loaded/.test(analytics.readyState)) return;
            onload();
          }
          analytics.async = true;
          analytics.src = 'https://cdn.shopify.com/s/javascripts/trekkie.storefront.min.js?v=2016.06.23';
          document.getElementsByTagName('head')[0].appendChild(analytics);
          
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-b76d2fd98d2ac218ee84279bcdf95bb8d0e6b8fe968d6e51742f83b2054d1051.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
        })();
      </script>
    

  <!-- /snippets/oldIE-js.liquid -->


<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/respond.min.js?3920912145228590763" type="text/javascript"></script>
<link href="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//maroko-3.myshopify.com/search?q=0ada5d0b36a3ec5112114529a307d57c" id="respond-redirect" rel="respond-redirect" />
<script src="//maroko-3.myshopify.com/search?q=0ada5d0b36a3ec5112114529a307d57c" type="text/javascript"></script>
<![endif]-->



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/modernizr.min.js?3920912145228590763" type="text/javascript"></script>

  
  
    <script src="//cdn.shopify.com/s/assets/themes_support/shopify_common-560aead139dc90d812ab2864e525084f7410876b146af25d903c665092c98dc0.js" type="text/javascript"></script>
  

</head>


<body id="account" class="template-customers-login" >
  
  <div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header">
      <div class="drawer__title h3">Shopping Cart</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">"Close Cart"</span>
        </button>
      </div>
    </div>
    <div id="CartContainer"></div>
  </div>

  <div id="PageContainer">
    <div class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12 top-word">
            <div class="block-top-link">
              <p class="welcome-msg">
                 
                  welcome to our shop
                
                </p>
            </div>
          </div>
          <div class="col-md-9 col-xs-12 top-fact">
            <!-- HEADER TOP MENU -->
            <div class="header-top-menu text-right top-factcenter">
              <nav>
                <ul class="list-unstyled list-inline">
                  <li class="top-icon"><a href="/account/"><i class="fa fa-lock"></i><span>My Account</span></a></li>
                  <li class="top-icon"><a href="/checkout"><i class="fa fa-share-square-o"></i><span>Check out</span></a></li>
                  
                  <li class="top-icon"><a href="/account/login/"> <i class="fa fa-user"></i> <span>Login</span></a></li>
                  
                </ul>
              </nav>
            </div>
            <!-- HEADER TOP MENU -->
          </div>
        </div>
      </div>
    </div>
    
  
  
    
<div class="mainmenu-area">
  <div class="container">
	<div class="row">
	  <!-- Logo Start -->
	  <div class="col-lg-3 col-md-3 col-sm-12 logotype">
	   
		   
			<div class="logo">
			  <a href="/" class="site-header__logo-link">
				<img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/logo.png?3920912145228590763" alt="maroko">
			  </a>
			</div>
			
	  </div>
    <!-- Logo End -->
    <div class="col-md-7 nopadding-right menutype">
	  <!-- mobile-menu-area start -->
	  <div class="mobile-menu-area">
		  <div class="container">
			  <div class="row">
				  <div class="col-md-12">
					  <div class="mobile-menu">
						  <nav id="dropdown" style="display: block;">
			 
							  <!-- begin site-nav -->
							  <ul id="AccessibleNavs">
								
								
								
								<li class="capable site-nav--has-dropdown" aria-haspopup="true">
								  <a href="/" class="site-nav__link">
									Home
									<span class="icon icon-arrow-down" aria-hidden="true"></span>
								  </a>
								  <ul class="site-nav__dropdown">
									
									<li>
									  <a href="/" class="site-nav__link">Home page 1</a>
									</li>
									
									<li>
									  <a href="http://maroko-2-2.myshopify.com/" class="site-nav__link">home  page 2</a>
									</li>
									
								  </ul>
								</li>
								
								
								
								
								<li class="capable site-nav--has-dropdown" aria-haspopup="true">
								  <a href="/collections/all" class="site-nav__link">
									Shop
									<span class="icon icon-arrow-down" aria-hidden="true"></span>
								  </a>
								  <ul class="site-nav__dropdown">
									
									<li>
									  <a href="/collections/men-collection" class="site-nav__link">belt collections</a>
									</li>
									
									<li>
									  <a href="/collections/best-belt-collections" class="site-nav__link">shart collections</a>
									</li>
									
									<li>
									  <a href="/collections/frontpage" class="site-nav__link">pant collections</a>
									</li>
									
									<li>
									  <a href="/collections/frontpage" class="site-nav__link">Sneakers collections</a>
									</li>
									
								  </ul>
								</li>
								
								
								
								
								<li >
								  <a href="/blogs/news" class="site-nav__link">Blog</a>
								</li>
								
								
								
								
								<li class="capable site-nav--has-dropdown" aria-haspopup="true">
								  <a href="/pages/frontpage" class="site-nav__link">
									Pages
									<span class="icon icon-arrow-down" aria-hidden="true"></span>
								  </a>
								  <ul class="site-nav__dropdown">
									
									<li class="site-nav--active">
									  <a href="/account/login" class="site-nav__link">Login</a>
									</li>
									
									<li>
									  <a href="/account/register" class="site-nav__link">Register</a>
									</li>
									
									<li>
									  <a href="/checkout" class="site-nav__link">Checkout</a>
									</li>
									
									<li>
									  <a href="/account" class="site-nav__link">Your account</a>
									</li>
									
									<li>
									  <a href="/404" class="site-nav__link">404 error page</a>
									</li>
									
									<li>
									  <a href="/pages/termes-conditions" class="site-nav__link">Terms &amp; Conditions</a>
									</li>
									
								  </ul>
								</li>
								
								
								
								
								<li >
								  <a href="/pages/about-us" class="site-nav__link">About us</a>
								</li>
								
								
								
								
								<li >
								  <a href="/pages/contact-us" class="site-nav__link">Contact Us</a>
								</li>
								
								
							  </ul>
						  </nav>
					  </div>					
				  </div>
			  </div>
		  </div>
	  </div>
	  <!-- mobile-menu-area end -->
	
	  <!-- Main menu area start-->
	  <div class="mega-collapse">
		<!-- begin site-nav -->
		<ul class="site-nav nav" id="AccessibleNav">
		  
		  
		  
		  
		  <li class="capable site-nav--has-dropdown" aria-haspopup="true">
			<a href="/" class="site-nav__link">
			  Home
			  <span class="icon icon-arrow-down" aria-hidden="true"></span>
			</a>
			<ul class="site-nav__dropdown">
			  
			  <li>
				<a href="/" class="site-nav__link">Home page 1</a>
			  </li>
			  
			  <li>
				<a href="http://maroko-2-2.myshopify.com/" class="site-nav__link">home  page 2</a>
			  </li>
			  
			</ul>
		  </li>
		  
		  
		  
		  
		  
		  <li class="capable site-nav--has-dropdown" aria-haspopup="true">
			<a href="/collections/all" class="site-nav__link">
			  Shop
			  <span class="icon icon-arrow-down" aria-hidden="true"></span>
			</a>
			<ul class="site-nav__dropdown">
			  
			  <li>
				<a href="/collections/men-collection" class="site-nav__link">belt collections</a>
			  </li>
			  
			  <li>
				<a href="/collections/best-belt-collections" class="site-nav__link">shart collections</a>
			  </li>
			  
			  <li>
				<a href="/collections/frontpage" class="site-nav__link">pant collections</a>
			  </li>
			  
			  <li>
				<a href="/collections/frontpage" class="site-nav__link">Sneakers collections</a>
			  </li>
			  
			</ul>
		  </li>
		  
		  
		  
		  
		  
		  <li >
			<a href="/blogs/news" class="site-nav__link">Blog</a>
		  </li>
		  
		  
		  
		  
		  
		  <li class="capable site-nav--has-dropdown" aria-haspopup="true">
			<a href="/pages/frontpage" class="site-nav__link">
			  Pages
			  <span class="icon icon-arrow-down" aria-hidden="true"></span>
			</a>
			<ul class="site-nav__dropdown">
			  
			  <li class="site-nav--active">
				<a href="/account/login" class="site-nav__link">Login</a>
			  </li>
			  
			  <li>
				<a href="/account/register" class="site-nav__link">Register</a>
			  </li>
			  
			  <li>
				<a href="/checkout" class="site-nav__link">Checkout</a>
			  </li>
			  
			  <li>
				<a href="/account" class="site-nav__link">Your account</a>
			  </li>
			  
			  <li>
				<a href="/404" class="site-nav__link">404 error page</a>
			  </li>
			  
			  <li>
				<a href="/pages/termes-conditions" class="site-nav__link">Terms &amp; Conditions</a>
			  </li>
			  
			</ul>
		  </li>
		  
		  
		  
		  
		  
		  <li >
			<a href="/pages/about-us" class="site-nav__link">About us</a>
		  </li>
		  
		  
		  
		  
		  
		  <li >
			<a href="/pages/contact-us" class="site-nav__link">Contact Us</a>
		  </li>
		  
		  
		</ul>
	  </div><!-- Navigation start end-->
  </div>
  <div class="col-md-2 searchtype">
	  <div class="search-chart">
		  <div class="search-contain">
			  <div class="search-content" style="display: none; height: 56px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
				  <div class="site-header__search">
					<!-- /snippets/search-bar.liquid -->


<form action="/search" method="get" class="input-group search-bar" role="search">
  <input type="text" placeholder="Search..." maxlength="128" class="input-text" value="" name="q">
  <button class="button" title="Search" type="submit"><span><span>Search</span></span></button>
</form>


				  </div>
			  </div>
		  </div>
		 
		  <div class="cart-area">
			  <div class="top-cart">
				  <a href="#"><i class="fa fa-shopping-cart"></i></a>
				  <span class="cart-position">3</span>
			  </div>
			  
<div class="top-cart-content" style="display: none;">
  <ul>
    
    <li>
      <a href="/products/gnarly-shoes">
        <img src="//cdn.shopify.com/s/files/1/1132/9326/products/6_1_small.jpg?v=1453878084"  alt="Green Aka Shoes - Sm / Green / Lather" />
      </a>
      <div class="product-details">
        
        <a class="btn-remove" href="/cart/change/14179176391?quantity=0" data-id="14179176391" title="Remove">
        <a class="btn-edit" title="Edit This item" href="/cart"></a>
        <p class="product-name"><a href="/products/gnarly-shoes">
          Green Aka Shoes - Sm / Green / Lather
         </a></p>
        <strong>1</strong> x<span class="price">$120.00</span>
      </div>
    </li>
    
    <li>
      <a href="/products/good-ol-shoes">
        <img src="//cdn.shopify.com/s/files/1/1132/9326/products/9_small.jpg?v=1454588229"  alt="Black Good Ol Shoes - S / Black" />
      </a>
      <div class="product-details">
        
        <a class="btn-remove" href="/cart/change/14179176583?quantity=0" data-id="14179176583" title="Remove">
        <a class="btn-edit" title="Edit This item" href="/cart"></a>
        <p class="product-name"><a href="/products/good-ol-shoes">
          Black Good Ol Shoes - S / Black
         </a></p>
        <strong>1</strong> x<span class="price">$110.00</span>
      </div>
    </li>
    
    <li>
      <a href="/products/nam-ultrices-molestie-tellus">
        <img src="//cdn.shopify.com/s/files/1/1132/9326/products/17_59b92501-89a4-4573-bf32-b298d0b7edc1_small.jpg?v=1456850299"  alt="Nam ultrices molestie tellus" />
      </a>
      <div class="product-details">
        
        <a class="btn-remove" href="/cart/change/16851936711?quantity=0" data-id="16851936711" title="Remove">
        <a class="btn-edit" title="Edit This item" href="/cart"></a>
        <p class="product-name"><a href="/products/nam-ultrices-molestie-tellus">
          Nam ultrices molestie tellus
         </a></p>
        <strong>1</strong> x<span class="price">$410.00</span>
      </div>
    </li>
    
  </ul>
  <div class="top-subtotal">total: <span class="price">$640.00</span></div>
  <div class="actions">
    <a href="/checkout">Checkout</a>
  </div>
</div>

		  </div>
	  </div>
     </div>
   </div>
  </div>
 </div>
 <!-- /templates/customers/login.liquid -->

<div class="customer-login-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">

          <div class="customer-login my-account">
            <form method="post" action="https://maroko-3.myshopify.com/account/login" id="customer_login" accept-charset="UTF-8"><input type="hidden" value="customer_login" name="form_type" /><input type="hidden" name="utf8" value="✓" />
              <div class="form-fields">
                <h2>Login</h2>
                 
                <p class="form-row form-row-wide">
                  <label>Email <span class="required">*</span></label>
                  <input type="email" name="customer[email]" id="CustomerEmail" class="input-full" placeholder="Email" autofocus>
                </p>
                 
                <p class="form-row form-row-wide">
                  <label>Password <span class="required">*</span></label>
                   <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full" placeholder="Password">
                </p>
                
              </div>
              <div class="form-action">
                
                <p class="lost_password"> <a href="#recover" id="RecoverPassword">Forgot your password?</a> </p>
                 
                <div class="actions">
                   <input type="submit" class="btn btn--full" value="Sign In">
                </div>
              </div>
             </form>
          </div>
          
          <div class="form-fields" id="RecoverPasswordForm" style="display: none;">
            <h2>Reset your password</h2>
            <p>We will send you an email to reset your password.</p>
            <div class="form-vertical">
              <form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" value="recover_customer_password" name="form_type" /><input type="hidden" name="utf8" value="✓" />
              
              
              
              <label for="RecoverEmail" class="hidden-label">Email</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="Email">
              <p>
                <input type="submit" class="btn btn--full" value="Submit">
              </p>
              <button type="button" id="HideRecoverPasswordLink" class="text-link">Cancel</button>
              </form>
            </div>
          </div>
          
          <div class="note form-success" id="ResetSuccess" style="display:none;">
            We&#39;ve sent you an email with a link to update your password.
          </div>
        </div>
        
        <div class="col-md-6 col-xs-12">
          <div class="customer-register my-account">
            <form method="post" class="register">
              <div class="form-fields">
                <h2>New Customer</h2>
                <p class="form-row form-row-wide">
                  By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.
                </p>
              </div>
              <div class="form-action">
                <div class="actions">
                  <a href="/account/register">Register</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- account-details Area end -->




<footer>


<div class="brand-area">
  <div class="container">
    <div class="row">
      <div class="brand-carousel">
        
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand1_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand2_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand3_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand4_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand5_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand6_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand7_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
        
          <div class="brand-item">
            <a href="#">
              <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/brand8_logo.png?3920912145228590763" alt="maroko"/>
            </a>
          </div> 
          
      
        
        
          
      
        
        
          
      
      </div>
    </div>
  </div>
</div>

  <div class="cakewalk-footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="single-snap-footer">
            <div class="snap-footer-title">
              <h4>My Account</h4>
            </div>
            <div class="cakewalk-footer-content">
              <ul>
                
                
                <li><a href="/collections/all" title="">Clothing</a></li>
                
                <li><a href="/account/" title="">My Account</a></li>
                
                <li><a href="/collections/all" title="">My Fashion</a></li>
                
                <li><a href="/account/login/" title="">Login</a></li>
                
                <li><a href="/account/register" title="">Register</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-4">
          <div class="single-snap-footer">
            <div class="snap-footer-title">
              <h4>shopping guide</h4>
            </div>
            <div class="cakewalk-footer-content">
              <ul>
                
                
                <li><a href="/account/" title="">my account</a></li>
                
                <li><a href="/checkout" title="">checkout</a></li>
                
                <li><a href="/account/login/" title="">Login</a></li>
                
                <li><a href="/pages/contact-us" title="">contact us</a></li>
                
                <li><a href="/pages/termes-conditions" title="">Conditions</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-4">
          <div class="single-snap-footer">
            <div class="snap-footer-title">
              <h4>Contact Us</h4>
            </div>
            <div class="cakewalk-footer-content">
              <ul>
                
                
                <li><a href="/" title="">About Us</a></li>
                
                <li><a href="/blogs/news" title="">Blog</a></li>
                
                <li><a href="/pages/contact-us" title="">Contact Us</a></li>
                
                <li><a href="/" title="">Site Map</a></li>
                
                <li><a href="/search" title="">Search page</a></li>
                
              </ul>
            </div>
          </div>
        </div>        
        
        <div class="col-md-3 col-sm-4">
          <div class="single-snap-footer">
            <div class="snap-footer-title">
              <h4>Fashion Tags</h4>
            </div>
            <div class="cakewalk-footer-content">
              <ul>
                
                
                <li><a href="/pages/about-us" title="">About Us</a></li>
                
                <li><a href="/account/" title="">Delivery Information</a></li>
                
                <li><a href="/pages/termes-conditions" title="">Privecy & Policy</a></li>
                
                <li><a href="/pages/termes-conditions" title="">Terms & Conditions</a></li>
                
                <li><a href="/collections/all" title="">Manufactures</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="cakewalk-footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-center">
            
              <div class="main-footer-logo">
                 <a href="/">
                  <img src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/footer_logo.png?3920912145228590763" alt="" />
                </a>
              </div>
            
            
            <div class="some-links">
              <ul>
                
            	
                <li><a href="/" title="">Site Map</a></li>
                
                <li><a href="/pages/termes-conditions" title="">All Terms</a></li>
                
                <li><a href="/" title="">Advanced Search</a></li>
                
                <li><a href="/account/" title="">Orders and Returns</a></li>
                
                <li><a href="/pages/contact-us" title="">    Contuct Us </a></li>
                
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>


    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-sms-12">
            <address>Copyright © 2015 <a href="http://bootexperts.com/."> BooteExperts.</a> All Rights Reserved</address>
          </div>
          <div class="col-md-6 col-sm-12 col-sms-12">
            <ul class="payment">
              <li>
                <img alt="" src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/payment_logo.png?3920912145228590763">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
 </footer>  

 
    
  <!-- All Js   -->
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/bootstrap.min.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery.bxslider.min.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery.elevateZoom-3.0.8.min.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery.meanmenu.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery.nivo.slider.pack.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/jquery.scrollUp.min.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/main.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/owl.carousel.min.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/plugins.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/price-slider.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/wow.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/fastclick.min.js?3920912145228590763" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/1132/9326/t/2/assets/timber.js?3920912145228590763" type="text/javascript"></script>

  
  <script>
    
  </script>

  
  
  </div>
</body>
</html>
