{% extends "base.html" %}
{% load staticfiles fiber_tags pure_tags %}

{% block title %}{{ fiber_page.title }}{% endblock %}

{% block navbar %}
{% include "snippets/short_nav.html" %}
{% endblock %}

{% block mains %}

<div class="catagory-image-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        {% include "snippets/path_to_page_nav.html" %}
      </div>
    </div>
  </div>
</div>
<div class="header-wrap-other">
  <div class="center-banner-area">
    <img alt="bg" src="{% static "img/bg/shine.jpg" %}">

    <div class="banner-text">
      <h3>{{ fiber_page.title }}</h3>
      <span>{% show_page_content "banner_span" %}</span>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- left -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
      <!-- /snippets/collection-sidebar.liquid --> 
      <div class="left-sidebar_product">
        <div class="left-sidebar block">
          <div class="sidebar-title"><h6>Каталог</h6></div>
          <div class="sidebar-content">
            <!-- color-bar start -->
            <div class="color-bar">
              <ul>
		{% get_page_by_title "catalog" as catalog %}
		{% for page in catalog.get_children %}
			<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
		{% endfor %}
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- left END-->
    <!-- right -->
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
      <div class="row">
        <header class="section-header">
          <div class="section-header__right">

            <div class="form-horizontal">
              <label for="SortBy">Сортировать по </label>
              <select name="SortBy" id="SortBy">
                <option value="manual">Цене</option>
                <option value="title-ascending"> A-Z</option>
                <option value="title-descending"> Z-A</option>
                <option value="created-descending">По дате,Z-A</option>
                <option value="created-ascending">По дате,A-Z </option>
              </select>
            </div>
          </div>

        </header>
        <!--  PRODUCT -->
        {% if object_list %}
	<!-- single-product start -->
        {% for product in object_list %}

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-product">
            <div class="product-img">
              <a href="{{ product.get_absolute_url }}">
                <!--<img class="primary-image" src="{% static "img/shop/8.jpg" %}" alt="Lcd screen cleaning kit">-->
		{% show_page_content product "main_image" %}
                <span class="box-over"></span>
              </a>
              <div class="price-box">
		{% if product.old_price %}
                <span class="old-price"><del>{{ product.old_price }} руб.</del></span>
                {% endif %}
		<span class="new-price">{{ product.current_price }} руб.</span>
              </div>
              <div class="actions-item nrb__action">
                <div class="cart__area grd__add">
                  <a href="{{ product.get_absolute_url }}">
                    <button type="submit" name="add" class="btn single_add_to_cart_button">
                      <span>ПОСМОТРЕТЬ</span>
                    </button>
                  </a>
                </div>
                <ul>
                    <li>
                    <a title="Заказать" href="#" data-toggle="modal" data-target="#cart_modal" name="add" data-product_title="{{ product.title }}" data-product_url="{{ product.get_absolute_url }}" data-product_price="{{ product.current_price }}">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <h2 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- single-product end -->

        {% include "snippets/pagination.html" %}
	{% else %}
		<h3>В этом разделе нет товаров.</h3>
	{% endif %}
	</div>
      </div>

    </div>
    <!-- right END -->
  </div>
</div>

{% endblock %}

{% block additional_modals %}

<!-- Modal For Ordering Goods From Catalog Pages-->
<div class="modal fade" id="cart_modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Заказать товар</h4>
      </div>
      <div class="modal-body">
        
      <form role="form" id="modal_cart_form" action={% if user.is_authenticated %}"/helpdesk/tickets/submit/"{% else %}"/helpdesk/"{% endif %} method="POST">
        {% csrf_token %}
        <!-- Hiden Fields -->
        <input type="hidden" name="title" id="id_title" value="Ask for callback"/>
        <input type="hidden" name="queue" value="3"/>
        <input type="hidden" name="body" value=""/>
        <input type="hidden" name="priority" value="3"/>
        <input type="hidden" name="product_title" id="id_product_title" value=""/>
        <input type="hidden" name="product_url" id="id_product_url" value=""/>
        <input type="hidden" name="product_price" id="id_product_price" value=""/>
        
        <!-- End of Hiden Fields -->
        <div class="form-group">
          <label for="name">Имя</label>
            <input type="text" class="form-control" name="name" id="id_name" placeholder="Введите Ваше имя" required/>
        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Телефон</label>
            <input type="phone" class="form-control" name="phone" id="id_phone" placeholder="Ваш номер телефона" required/>
        </div>
        <div class="form-group">
          <label for="id_submitter_email">Email</label>
            <input type="email" class="form-control" name="submitter_email" id="id_submitter_email" placeholder="Ваш почтовый ящик" required/>
        </div>
        <div class="form-group">
          <label for="quantiry">Количество</label>
            <input type="number" class="form-control" id="1quantity" name="1quantity" value="1" min="1" class="quantity-selector">
        </div>
        <div class="form-group">
          <label for="price">Стоимость</label>
            <input type="text" class="form-control" id="price" name="price" readonly>
        </div>
        
        <button type="submit" id="submit_button" class="btn btn-default">Заказать!</button>
        <button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </form>
    
    </div>
  </div>
  </div>
</div>

<!-- End Modal -->

{% endblock %}


{% block additional_scripts %}

<script type="text/javascript">
$('#cart_modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var product_title = button.data('product_title') // Extract info from data-* attributes
  var product_url = button.data('product_url')
  var product_price = button.data('product_price')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#id_product_title').val(product_title)
  modal.find('.modal-title').text('Заказать ' + product_title)
  modal.find('#id_product_url').val(product_url)
  modal.find('#id_product_price').val(product_price)
  modal.find('#price').val(parseFloat(product_price))
  modal.find('#1quantity').val("1")
});
</script>
<script type="text/javascript">
$(function() {
   $("#cart_form").on('submit', function (e) {
        e.preventDefault();
        $('#body').val("Пользователь " + $('#id_name').val() + " хочет купить  " + $('#modal_quantity').val() + " шт. товара " + document.getElementById('id_product_title').innerHTML + " (страница товара  " + document.getElementById('id_product_url').innerHTML + " ). Стоимость " + $('#modal_price').val() + ". Контакты: " + $('#id_phone').val() + " " + $('#id_submitter_email').val());

        var url = $(e.currentTarget).attr('action');
        var formData =  $(e.currentTarget).serialize();

        $.ajax({
            method: "POST",
            url: url,
            data: formData,
            success: function (response) {
                if (status == 302) {
                    window.location.replace("/about/");
                } else {
                    alert("Спасибо ".concat($('#id_name').val(),", Ваш заказ принят. Заказано ", document.getElementById('id_product_title').innerHTML, " в количестве ", $("#modal_quantity").val(), ". Стоимость: ", $("#modal_price").val(), ". С Вами свяжутся в скором времени."));
                    document.getElementById("cart_form").reset();
            }
        }
    });
});
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#1quantity').click(function(){
        $('#price').val( $('#id_product_price').val() * $('#1quantity').val() );
    });
});
</script>

{% endblock %}
