{% extends "base.html" %}
{% load staticfiles fiber_tags pure_tags %}

{% block title %}{{ fiber_page.title }}{% endblock %}

{% block navbar %}
{% include "snippets/short_nav.html" %}
{% endblock %}

{% block mains %}

<div class="catagory-image-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
        {% include "snippets/path_to_page_nav.html" %}
      </div>
    </div>
  </div>
</div>
<div class="header-wrap-other">
  <div class="center-banner-area">
    <img alt="bg" src="{% static "img/bg/shine.jpg" %}">

    <div class="banner-text">
      <h3>{{ fiber_page.title }}</h3>
      <span>{% show_page_content "banner_span" %}</span>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- left -->
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
      <!-- /snippets/collection-sidebar.liquid --> 
      <div class="left-sidebar_product">
        <div class="left-sidebar block">
          <div class="sidebar-title"><h6>Каталог</h6></div>
          <div class="sidebar-content">
            <!-- color-bar start -->
            <div class="color-bar">
              <ul>
		{% get_page_by_title "catalog" as catalog %}
		{% for page in catalog.get_children %}
			<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
		{% endfor %}
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- left END-->
    <!-- right -->
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
      <div class="row">
        <header class="section-header">
          <div class="section-header__right">

            <div class="form-horizontal">
              <label for="SortBy">Сортировать по </label>
              <select name="SortBy" id="SortBy">
                <option value="manual">Цене</option>
                <option value="title-ascending"> A-Z</option>
                <option value="title-descending"> Z-A</option>
                <option value="created-descending">По дате,Z-A</option>
                <option value="created-ascending">По дате,A-Z </option>
              </select>
            </div>
          </div>

        </header>
        <!--  PRODUCT -->
        {% if object_list %}
	<!-- single-product start -->
        {% for product in object_list %}

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-product">
            <div class="product-img">
              <a href="#">
                <!--<img class="primary-image" src="{% static "img/shop/8.jpg" %}" alt="Lcd screen cleaning kit">-->
		{% show_page_content product "main_image" %}
                <span class="box-over"></span>
              </a>
              <div class="price-box">
		{% if product.old_price %}
                <span class="old-price"><del>{{ product.old_price }} руб.</del></span>
                {% endif %}
		<span class="new-price">{{ product.current_price }} руб.</span>
              </div>
              <div class="actions-item nrb__action">
                <div class="cart__area grd__add">
                  <button type="submit" name="add" class="btn single_add_to_cart_button">
                    <span>ПОСМОТРЕТЬ</span>
                  </button>
                </div>
                <ul>
                  <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <h2 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- single-product end -->

        {% include "snippets/pagination.html" %}
	{% else %}
		<h3>В этом разделе нет товаров.</h3>
	{% endif %}
	</div>
      </div>

    </div>
    <!-- right END -->
  </div>
</div>

{% endblock %}
