{% extends "base.html" %}
{% load staticfiles fiber_tags humanize pure_tags %}

{% block title %}Pure Home{% endblock %}

{% block mains %}

<div class="maincontent-area">
  <div class="special-width">
    <div class="special-inner special-inner1">
      <a class="images" href="{% get_page_by_title "oboi" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "oboi-img" %}
      </a>
      <div class="content">
        {% show_page_content "oboi-content" %}
      </div>
    </div>
    <div class="special-inner special-inner2">
      <a class="images" href="{% get_page_by_title "decor" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "dekor-img" %}
      </a>
      <div class="content">
        {% show_page_content "dekor-content" %}
      </div>
    </div>
  </div>
  <div class="special-width">
    <div class="special-inner special-inner3">
      <a class="images" href="{% get_page_by_title "svet" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "svet-img" %}
      </a>
      <div class="content">
        {% show_page_content "svet-content" %}
      </div>
    </div>
  </div>
  <div class="special-width">
    <div class="special-inner special-inner4">
      <a class="images" href="{% get_page_by_title "textil" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "tekstil-img" %}
      </a>
      <div class="content">
        {% show_page_content "tekstil-content" %}
      </div>
    </div>
    <div class="special-inner special-inner5">
      <a class="images" href="{% get_page_by_title "mebel" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "mebel-img" %}
      </a>
      <div class="content">
        {% show_page_content "mebel-content" %}
      </div>
    </div>
  </div>
</div>

{% if best_sellers %}
<div class="featured-product-area">
  <div class="container">
    <!-- section-heading start -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3>ХИТЫ ПРОДАЖ</h3>
        </div>
      </div>
    </div>
    <!-- section-heading end -->
    <div class="row">
      <div class="features-curosel">
         <!-- single-product start -->
         {% for seller in best_sellers %}
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="{{ seller.get_absolute_url }}">
              
              {% show_page_content seller "main_image" %}
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="new-price nrb">{{ seller.current_price }} {% if seller.metadata.currency %}{{ seller.metadata.currency }}{% else %}руб.{% endif %}</span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <a href="{{ seller.get_absolute_url }}">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span>ПОСМОТРЕТЬ</span>
                </button>
                </a>
              </div>
              <ul>
                <li>
                  <a title="Заказать" href="#" data-toggle="modal" data-target="#cart_modal" name="add" data-product_title="{{ seller.title }}" data-product_url="{{ seller.get_absolute_url }}" data-product_price="{{ seller.current_price }}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="{{ seller.get_absolute_url }}">{{ seller.title }}</a></h2>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
</div>
</div>
</div>
{% endif %}

{% if items_with_old_price %}
<div class="sale-product-area">
	<div class="container">
		<!-- section-heading start -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h3>Распродажа</h3>
				</div>
			</div>
		</div>
		<!-- section-heading end -->
		<div class="row">
			<div class="features-curosel">
       <!-- single-product start -->
       {% for item in items_with_old_price %}
       
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="#">
              {% show_page_content item "main_image" %}
              
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="old-price"><del>{{ item.old_price }} {% if item.metadata.currency %}{{ item.metadata.currency }}{% else %}руб.{% endif %} </del></span>
              <span class="new-price nrb">{{ item.current_price|my_currency }} {% if item.metadata.currency %}{{ item.metadata.currency }}{% else %}руб.{% endif %} </span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <a href="{{ item.get_absolute_url }}">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
		  <span>ПОСМОТРЕТЬ</span>
                </button>
                </a>
              </div>
              <ul>
                <li>
                  <a title="Заказать" href="#" data-toggle="modal" data-target="#cart_modal" name="add" data-product_title="{{ item.title }}" data-product_url="{{ item.get_absolute_url }}" data-product_price="{{ item.current_price }}">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
          </div>
        </div>
      </div>
       {% endfor %}
   
    {% endif %}
  </div>				
</div>
</div>
</div>


<div class="center-banner-area">
  <img alt="bg" src="{% static "img/bg/main-bg.jpg" %}">
  <div class="banner-text">
    {% show_page_content "delivery" %}
  </div>
</div>


{% endblock %}

{% block additional_modals %}

<!-- Modal For Ordering Goods From Catalog Pages-->
<div class="modal fade" id="cart_modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Заказать товар</h4>
      </div>
      <div class="modal-body">
        
      <form role="form" id="modal_cart_form" action={% if user.is_authenticated %}"/helpdesk/tickets/submit/"{% else %}"/helpdesk/"{% endif %} method="POST">
        {% csrf_token %}
        <!-- Hiden Fields -->
        <input type="hidden" name="title" id="id_title" value="Cart Form"/>
        <input type="hidden" name="queue" value="3"/>
        <input type="hidden" name="body" id="body" value=""/>
        <input type="hidden" name="priority" value="3"/>
        <input type="hidden" name="product_title" id="id_product_title" value=""/>
        <input type="hidden" name="product_url" id="id_product_url" value=""/>
        <input type="hidden" name="product_price" id="id_product_price" value=""/>
        
        <!-- End of Hiden Fields -->
        <div class="form-group">
          <label for="name">Имя</label>
            <input type="text" class="form-control" name="name" id="id_name" placeholder="Введите Ваше имя" required/>
        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Телефон</label>
            <input type="phone" class="form-control" name="phone" id="id_phone" placeholder="Ваш номер телефона" required/>
        </div>
        <div class="form-group">
          <label for="id_submitter_email">Email</label>
            <input type="email" class="form-control" name="submitter_email" id="id_submitter_email" placeholder="Ваш почтовый ящик" required/>
        </div>
        <div class="form-group">
          <label for="quantiry">Количество</label>
            <input type="number" class="form-control" id="1quantity" name="1quantity" value="1" min="1" class="quantity-selector">
        </div>
        <div class="form-group">
          <label for="price">Стоимость</label>
            <input type="text" class="form-control" id="price" name="price" readonly>
        </div>
        
        <button type="submit" id="submit_button" class="btn btn-default">Заказать!</button>
        <button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </form>
    
    </div>
  </div>
  </div>
</div>

<!-- End Modal -->

{% endblock %}

{% block additional_scripts %}

<script type="text/javascript">
$('#cart_modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var product_title = button.data('product_title') // Extract info from data-* attributes
  var product_url = button.data('product_url')
  var product_price = button.data('product_price')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('#id_product_title').val(product_title)
  modal.find('.modal-title').text('Заказать ' + product_title)
  modal.find('#id_product_url').val(product_url)
  modal.find('#id_product_price').val(product_price)
  modal.find('#price').val(parseFloat(product_price))
  modal.find('#1quantity').val("1")
});
</script>
<script type="text/javascript">
$(function() {
   $("#modal_cart_form").on('submit', function (e) {
        e.preventDefault();
        $('#body').val("Пользователь " + $('#id_name').val() + " хочет купить  " + $('#1quantity').val() + " шт. товара " + $('#id_product_title').val() + " (страница товара  " + $('#id_product_url').val() + " ). Стоимость " + $('#price').val() + ". Контакты: " + $('#id_phone').val() + " " + $('#id_submitter_email').val());
        var url = $(e.currentTarget).attr('action');
        var formData =  $(e.currentTarget).serialize();
        $.ajax({
            method: "POST",
            url: url,
            data: formData,
            success: function (response) {
                if (status == 302) {
                    window.location.replace("/about/");
                } else {
                    alert("Спасибо ".concat($('#id_name').val(),", Ваш заказ принят. Заказано ", $('#id_product_title').val(), " в количестве ", $("#1quantity").val(), ". Стоимость: ", $("#price").val(), ". С Вами свяжутся в скором времени."));
                    document.getElementById("modal_cart_form").reset();
            }
        }
    });
});
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#1quantity').click(function(){
        $('#price').val( $('#id_product_price').val() * $('#1quantity').val() );
    });
});
</script>

{% endblock %}
