{% extends "base.html" %}
{% load staticfiles fiber_tags humanize pure_tags %}

{% block title %}Pure Home{% endblock %}

{% block mains %}

<div class="maincontent-area">
  <div class="special-width">
    <div class="special-inner special-inner1">
      <a class="images" href="/">
        {% show_page_content "oboi-img" %}
      </a>
      <div class="content">
        {% show_page_content "oboi-content" %}
      </div>
    </div>
    <div class="special-inner special-inner2">
      <a class="images" href="index.html#">
        {% show_page_content "dekor-img" %}
      </a>
      <div class="content">
        {% show_page_content "dekor-content" %}
      </div>
    </div>
  </div>
  <div class="special-width">
    <div class="special-inner special-inner3">
      <a class="images" href="index.html#">
        {% show_page_content "svet-img" %}
      </a>
      <div class="content">
        {% show_page_content "svet-content" %}
      </div>
    </div>
  </div>
  <div class="special-width">
    <div class="special-inner special-inner4">
      <a class="images" href="index.html#">
        {% show_page_content "tekstil-img" %}
      </a>
      <div class="content">
        {% show_page_content "tekstil-content" %}
      </div>
    </div>
    <div class="special-inner special-inner5">
      <a class="images" href="index.html#">
        {% show_page_content "mebel-img" %}
      </a>
      <div class="content">
        {% show_page_content "mebel-content" %}
      </div>
    </div>
  </div>
</div>

<div class="my">
  {% for catalog_page in catalog_pages %}
    <a href="{{ catalog_page.get_absolute_url }}">{{ catalog_page.title }}</a>
  {% endfor %}
  
</div>


<div class="featured-product-area">
  <div class="container">
    <!-- section-heading start -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3>ХИТЫ ПРОДАЖ</h3>
        </div>
      </div>
    </div>
    <!-- section-heading end -->
    <div class="row">
      <div class="features-curosel">
       <!-- single-product start -->
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="#">
              <img class="primary-image" src="{% static "img/shop/1.jpg" %}" alt="H Lorem ipsum dolor sit">
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="new-price nrb">20 500 руб.</span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span>ПОСМОТРЕТЬ</span>
                </button>
              </div>
              <ul>
                <li><a title="" data-toggle="modal" data-target="#h-lorem-ipsum-dolor-sit" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="#">Гардины</a></h2>
          </div>
        </div>
      </div>
      <!-- single-product start -->
      <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="collections/frontpage/products/lcd-screen-cleaning-kit.html">
              <img class="primary-image" src="{% static "img/shop/2.jpg" %}" alt="Lcd screen cleaning kit">
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="new-price nrb">20 500 руб. </span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span>ПОСМОТРЕТЬ</span>
                </button>
              </form> 
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#lcd-screen-cleaning-kit" href="index.html#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">ПОДСВЕЧНИК</a></h2>
        </div>
      </div>
    </div>
    <!-- single-product start -->
    <div class="col-lg-3 col-md-3">
      <div class="single-product">
        <div class="product-img">
          <a href="collections/frontpage/products/nam-ultrices-molestie-tellus.html">
            <img class="primary-image" src="{% static "img/shop/3.jpg" %}" alt="Lcd screen cleaning kit">
            <span class="box-over"></span>
          </a>
          <div class="price-box">
            <span class="new-price nrb">20 500 руб.</span> 
          </div>
          <div class="actions-item nrb__action">
            <div class="cart__area grd__add">
              <button type="submit" name="add" class="btn single_add_to_cart_button">
                <span>ПОСМОТРЕТЬ</span>
              </button>
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">Лампа</a></h2>
        </div>
      </div>
    </div>
    <!-- single-product start -->
    <div class="col-lg-3 col-md-3">
      <div class="single-product">
        <div class="product-img">
          <a href="#">
            <img class="primary-image" src="{% static "img/shop/4.jpg" %}" alt="Lcd screen cleaning kit">
            <span class="box-over"></span>
          </a>
          <div class="price-box">

            <span class="new-price">20 500 руб.</span>
          </div>
          <div class="actions-item nrb__action">
            <div class="cart__area grd__add">
              <button type="submit" name="add" class="btn single_add_to_cart_button">
                <span>ПОСМОТРЕТЬ</span>
              </button>
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">Буфет</a></h2>
        </div>
      </div>
    </div>
    <!-- single-product start -->
    <div class="col-lg-3 col-md-3">
      <div class="single-product">
        <div class="product-img">
          <a href="collections/frontpage/products/nam-ultrices-molestie-tellus.html">
            <img class="primary-image" src="{% static "img/shop/3.jpg" %}" alt="Lcd screen cleaning kit">
            <span class="box-over"></span>
          </a>
          <div class="price-box">
            <span class="new-price nrb">20 500 руб.</span> 
          </div>
          <div class="actions-item nrb__action">
            <div class="cart__area grd__add">
              <button type="submit" name="add" class="btn single_add_to_cart_button">
                <span>ПОСМОТРЕТЬ</span>
              </button>
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">Лампа</a></h2>
        </div>
      </div>
    </div>
  </div>				
</div>
</div>
</div>
<div class="sale-product-area">
	<div class="container">
		<!-- section-heading start -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h3>Распродажа</h3>
				</div>
			</div>
		</div>
		<!-- section-heading end -->
		<div class="row">
			<div class="features-curosel">
       <!-- single-product start -->
       {% for item in items_with_old_price %}
       
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="#">
              <!--<img class="primary-image" src="{% static "img/shop/5.jpg" %}" alt="H Lorem ipsum dolor sit">-->
              {% show_page_content item "main_image" %}
              
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="old-price"><del>{{ item.old_price }} {{ item.metadata.currency }}</del></span>
              <span class="new-price nrb">{{ item.current_price|my_currency }} {{ item.metadata.currency }} </span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span>ПОСМОТРЕТЬ</span>
                </button>
              </div>
              <ul>
                <li><a title="" data-toggle="modal" data-target="#h-lorem-ipsum-dolor-sit" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
          </div>
        </div>
      </div>
       {% endfor %}
       
       <!-- single-product start -->
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="#">
              <img class="primary-image" src="{% static "img/shop/5.jpg" %}" alt="H Lorem ipsum dolor sit">
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="old-price"><del>23 500 руб.</del></span>
              <span class="new-price nrb">20 500 руб.</span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span>ПОСМОТРЕТЬ</span>
                </button>
              </div>
              <ul>
                <li><a title="" data-toggle="modal" data-target="#h-lorem-ipsum-dolor-sit" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="#">НАБОР КАРТИН</a></h2>
          </div>
        </div>
      </div>
      <!-- single-product start -->
      <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="collections/frontpage/products/lcd-screen-cleaning-kit.html">
              <img class="primary-image" src="{% static "img/shop/6.jpg" %}" alt="Lcd screen cleaning kit">
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="old-price"><del>23 500 руб.</del></span>
              <span class="new-price nrb">20 500 руб. </span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span>ПОСМОТРЕТЬ</span>
                </button>
              </form> 
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#lcd-screen-cleaning-kit" href="index.html#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">ПЛЕД</a></h2>
        </div>
      </div>
    </div>
    <!-- single-product start -->
    <div class="col-lg-3 col-md-3">
      <div class="single-product">
        <div class="product-img">
          <a href="collections/frontpage/products/nam-ultrices-molestie-tellus.html">
            <img class="primary-image" src="{% static "img/shop/7.jpg" %}" alt="Lcd screen cleaning kit">
            <span class="box-over"></span>
          </a>
          <div class="price-box">
            <span class="old-price"><del>23 500 руб.</del></span>
            <span class="new-price nrb">20 500 руб.</span> 
          </div>
          <div class="actions-item nrb__action">
            <div class="cart__area grd__add">
              <button type="submit" name="add" class="btn single_add_to_cart_button">
                <span>ПОСМОТРЕТЬ</span>
              </button>
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">Гардины</a></h2>
        </div>
      </div>
    </div>
    <!-- single-product start -->
    <div class="col-lg-3 col-md-3">
      <div class="single-product">
        <div class="product-img">
          <a href="#">
            <img class="primary-image" src="{% static "img/shop/8.jpg" %}" alt="Lcd screen cleaning kit">
            <span class="box-over"></span>
          </a>
          <div class="price-box">
            <span class="old-price"><del>23 500 руб.</del></span>
            <span class="new-price">20 500 руб.</span>
          </div>
          <div class="actions-item nrb__action">
            <div class="cart__area grd__add">
              <button type="submit" name="add" class="btn single_add_to_cart_button">
                <span>ПОСМОТРЕТЬ</span>
              </button>
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">ПОДСВЕЧНИК</a></h2>
        </div>
      </div>
    </div>
    <!-- single-product start -->
    <div class="col-lg-3 col-md-3">
      <div class="single-product">
        <div class="product-img">
          <a href="collections/frontpage/products/nam-ultrices-molestie-tellus.html">
            <img class="primary-image" src="{% static "img/shop/6.jpg" %}" alt="Lcd screen cleaning kit">
            <span class="box-over"></span>
          </a>
          <div class="price-box">
            <span class="old-price"><del>23 500 руб.</del></span>
            <span class="new-price nrb">20 500 руб.</span> 
          </div>
          <div class="actions-item nrb__action">
            <div class="cart__area grd__add">
              <button type="submit" name="add" class="btn single_add_to_cart_button">
                <span>ПОСМОТРЕТЬ</span>
              </button>
            </div>
            <ul>
              <li><a title="Quick view" data-toggle="modal" data-target="#nam-ultrices-molestie-tellus" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="product-content">
          <h2 class="product-name"><a href="#">ПЛЕД</a></h2>
        </div>
      </div>
    </div>
  </div>				
</div>
</div>
</div>

<div class="center-banner-area">
  <img alt="bg" src="{% static "img/bg/main-bg.jpg" %}">
  <div class="banner-text">
    {% show_page_content "delivery" %}
  </div>
</div>


{% endblock %}