{% extends "base.html" %}
{% load staticfiles fiber_tags humanize pure_tags %}

{% block title %}Pure Home{% endblock %}

{% block mains %}

<div class="maincontent-area">
  <div class="special-width">
    <div class="special-inner special-inner1">
      <a class="images" href="{% get_page_by_title "oboi" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "oboi-img" %}
      </a>
      <div class="content">
        {% show_page_content "oboi-content" %}
      </div>
    </div>
    <div class="special-inner special-inner2">
      <a class="images" href="{% get_page_by_title "decor" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "dekor-img" %}
      </a>
      <div class="content">
        {% show_page_content "dekor-content" %}
      </div>
    </div>
  </div>
  <div class="special-width">
    <div class="special-inner special-inner3">
      <a class="images" href="{% get_page_by_title "svet" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "svet-img" %}
      </a>
      <div class="content">
        {% show_page_content "svet-content" %}
      </div>
    </div>
  </div>
  <div class="special-width">
    <div class="special-inner special-inner4">
      <a class="images" href="{% get_page_by_title "textil" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "tekstil-img" %}
      </a>
      <div class="content">
        {% show_page_content "tekstil-content" %}
      </div>
    </div>
    <div class="special-inner special-inner5">
      <a class="images" href="{% get_page_by_title "mebel" as page %}{{ page.get_absolute_url }}">
        {% show_page_content "mebel-img" %}
      </a>
      <div class="content">
        {% show_page_content "mebel-content" %}
      </div>
    </div>
  </div>
</div>

{% if best_sellers %}
<div class="featured-product-area">
  <div class="container">
    <!-- section-heading start -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3>ХИТЫ ПРОДАЖ</h3>
        </div>
      </div>
    </div>
    <!-- section-heading end -->
    <div class="row">
      <div class="features-curosel">
         <!-- single-product start -->
         {% for seller in best_sellers %}
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="{{ seller.get_absolute_url }}">
              
              {% show_page_content seller "main_image" %}
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="new-price nrb">{{ seller.current_price }} {{ seller.metadata.currency }}</span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
                  <span><a href="{{ seller.get_absolute_url }}">ПОСМОТРЕТЬ</a></span>
                </button>
              </div>
              <ul>
                <li><a title="" data-toggle="modal" data-target="#h-lorem-ipsum-dolor-sit" href="{{ seller.get_absolute_url }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="{{ seller.get_absolute_url }}">{{ seller.title }}</a></h2>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
</div>
</div>
</div>
{% endif %}

{% if items_with_old_price %}
<div class="sale-product-area">
	<div class="container">
		<!-- section-heading start -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h3>Распродажа</h3>
				</div>
			</div>
		</div>
		<!-- section-heading end -->
		<div class="row">
			<div class="features-curosel">
       <!-- single-product start -->
       {% for item in items_with_old_price %}
       
       <div class="col-lg-3 col-md-3">
        <div class="single-product">
          <div class="product-img">
            <a href="#">
              <!--<img class="primary-image" src="{% static "img/shop/5.jpg" %}" alt="H Lorem ipsum dolor sit">-->
              {% show_page_content item "main_image" %}
              
              <span class="box-over"></span>
            </a>
            <div class="price-box">
              <span class="old-price"><del>{{ item.old_price }} {{ item.metadata.currency }}</del></span>
              <span class="new-price nrb">{{ item.current_price|my_currency }} {{ item.metadata.currency }} </span> 
            </div> 
            <div class="actions-item nrb__action">
              <div class="cart__area grd__add">
                <button type="submit" name="add" class="btn single_add_to_cart_button">
		  <span><a href="{{ item.get_absolute_url }}">ПОСМОТРЕТЬ</a></span>
                </button>
              </div>
              <ul>
                <li><a title="" data-toggle="modal" data-target="#h-lorem-ipsum-dolor-sit" href="{{ item.get_absolute_url }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h2 class="product-name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
          </div>
        </div>
      </div>
       {% endfor %}
   
    {% endif %}
  </div>				
</div>
</div>
</div>


<div class="center-banner-area">
  <img alt="bg" src="{% static "img/bg/main-bg.jpg" %}">
  <div class="banner-text">
    {% show_page_content "delivery" %}
  </div>
</div>


{% endblock %}
