{% load staticfiles fiber_tags %}

<div class="mainmenu-area">
      <div class="container">
        <div class="row">
         <!-- Logo Start -->
         <div class="col-lg-2 col-md-2 col-sm-12 logotype">  
           <div class="logo">
             <a href="#" class="site-header__logo-link">
              <img src="{% static "img/logo/logo-top.png" %}" alt="pure">
            </a>
          </div>
        </div>
        <!-- Logo End -->
        <div class="col-md-8 nopadding-right menutype">
         <!-- mobile-menu-area start -->
         <div class="mobile-menu-area">
          <div class="container">
           <div class="row">
            <div class="col-md-12">
             <div class="mobile-menu">
                  
             </div>					
           </div>
         </div>
       </div>
     </div>
     <!-- mobile-menu-area end -->

     <!-- Main menu area start-->
     <div class="mega-collapse hidden-sm hidden-xs">
      <!-- begin site-nav -->
      <ul class="site-nav nav" id="AccessibleNav">
          {% show_menu "mainmenu" 1 1 %}
          
        <li>
          <a href="#" class="site-nav__link">Главная</a>
        </li>
        <li class="capable site-nav--has-dropdown" aria-haspopup="true">
         <a href="#" class="site-nav__link">Каталог<i class="fa fa-angle-down" aria-hidden="true"></i></a>
          
          <ul class="site-nav__dropdown"><a href="#" class="site-nav__link"></a>
            {% show_menu "mainmenu" 2 2 "all" %}
            <li><a href="#" class="site-nav__link"></a><a href="#" class="site-nav__link">Свет</a></li>
            <li><a href="#" class="site-nav__link">Декор</a></li>
            <li><a href="#" class="site-nav__link">Текстиль</a></li>
            <li><a href="#" class="site-nav__link">Обои</a></li>
            <li><a href="# " class="site-nav__link">Мебель</a></li>
          </ul>

        
      </li>
      <li>
       <a href="#" class="site-nav__link">О компании</a>
     </li>
     <li class="capable site-nav--has-dropdown" aria-haspopup="true">
       <a href="#" class="site-nav__link">
         Доставка
       </a>
     </li>
     <li>
       <a href="#" class="site-nav__link">Сотрудничество</a>
     </li>
     <li>
       <a href="#" class="site-nav__link">Контакты </a>
     </li>
   </ul>
 </div><!-- Navigation start end-->
</div>
<div class="col-md-2 searchtype">
 <div class="search-chart">
  <div class="search-contain">
   <div class="search-content" style="display: none; height: 56px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
    <div class="site-header__search">
     <!-- /snippets/search-bar.liquid -->


     <form action="#" method="get" class="input-group search-bar" role="search">
      <input type="text" placeholder="Search..." maxlength="128" class="input-text" value="" name="q">
      <button class="button" title="Search" type="submit"><span><span>Search</span></span></button>
    </form>


  </div>
</div>
</div>

<div class="cart-area">
 <div class="top-cart">
  <a href="#"><i class="fa fa-shopping-cart"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>