<{% extends "base.html" %}
{% load staticfiles fiber_tags pure_tags %}

{% block title %}{{ fiber_page.title }}{% endblock %}

{% block navbar %}
{% include "snippets/short_nav.html" %}
{% endblock %}

{% block mains %}

<div class="product-essential">
	<div class="container">
		<div class="row">
      <!-- /templates/product.liquid -->
      <div class="col-xs-12 ">
       {% include "snippets/path_to_page_nav.html" %}
    </div>
    <div class="product-single">
      <div class="col-md-5 col-sm-12 col-xs-12 text-center">
        <div class="product-single__photos" id="ProductPhoto">
          <div class="product-single__test"></div>
          <img src="{% static "img/shop/9.jpg" %}" alt="Suspendisse" id="ProductPhotoImg">

        </div>
        <div class="tab__product">
          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
            {% show_pure_page_content "images" %}
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <h1>{{ fiber_page.title }}</h1>
        <div class="product-description rte">
          {% show_page_content "product_description" %}
        </div>
        <h1>Характеристики</h1>
        <div class="characteristics">
          <div class="row">
            <div class="col-md-5">
              {% show_page_content "characteristic" %}
            </div>
            
            <div class="col-md-5">
              {% show_page_content "value_of_char" %}
            </div>
            
        </div>
        <div>
          <form action="#" method="POST" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

            <div class="pera">
              <span id="ProductPrice" class="h2 nrbpd" >
               {{ fiber_page.metadata.new_price }} {{ fiber_page.metadata.currency }}
             </span>
           </div>
           <label for="Quantity" class="quantity-selector">Количество</label>
           <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
           <div class="wishlist-pro-wrapper"><ul><li><a href="#" class="in_items"><span>В корзину</span></a></li></ul></div>
         </form>
       </div>
     </div>
   </div>
 </div>
</div>
</div>   


{% endblock %}