{% extends "base.html" %}
{% load staticfiles fiber_tags pure_tags %}

{% block title %}{{ fiber_page.title }}{% endblock %}

{% block bodyid %}
<body id="suspendisse" class="template-product" >
{% endblock %}

{% block navbar %}
{% include "snippets/short_nav.html" %}
{% endblock %}

{% block mains %}

<div class="product-essential">
	<div class="container">
		<div class="row">
      <!-- /templates/product.liquid -->
      <div class="col-xs-12 ">
       {% include "snippets/path_to_page_nav.html" %}
    </div>
    <div class="product-single">
      <div class="col-md-5 col-sm-12 col-xs-12 text-center">
        <div class="product-single__photos" id="ProductPhoto">
          <div class="product-single__test"></div>
          <img src="{% static "img/shop/9.jpg" %}" alt="Suspendisse" id="ProductPhotoImg">

        </div>
        <div class="tab__product">
          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
            {% show_pure_page_content "images" %}
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <h1>{{ fiber_page.title }}</h1>
        <div class="product-description rte">
          {% show_page_content "product_description" %}
        </div>
        <h1>Характеристики</h1>
        <div class="characteristics">
          <div class="row">
            <div class="col-md-5">
              {% show_page_content "characteristic" %}
            </div>
            
            <div class="col-md-5">
              {% show_page_content "value_of_char" %}
            </div>
            
        </div>
        <div>
          <form action="#" method="POST" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

            <div class="pera">
              <span id="ProductPrice" class="h2 nrbpd" >
               {{ fiber_page.current_price }} {% if fiber_page.metadata.currency %}{{ fiber_page.metadata.currency }}{% else %}руб.{% endif %}
             </span>
           </div>
           <label for="quantity" class="quantity-selector">Количество</label>
           <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
           <div class="wishlist-pro-wrapper">
                <ul>
                    <li><a href="#" id="add_to_cart_button" class="in_items" data-toggle="modal" data-target="#cart_modal"><span>В корзину</span></a></li>
	            <li><a href="#" id="add_to_cart_button" class="in_items" data-toggle="modal" data-target="#ask_modal"/><span>Задать вопрос</span></a></li> 
               </ul></div>
         </form>
       </div>
     </div>
   </div>
 </div>
</div>
</div>   
<div id="id_product_title" name="product_title" style="display:none;">{{ fiber_page.title }}</div>
<div id="id_product_url" name="product_url" style="display:none;">{{ fiber_page.get_absolute_url }}</div>

{% endblock %}

{% block additional_modals %}

<!-- Modal For Ordering Goods-->
<div class="modal fade" id="cart_modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Заказать товар</h4>
      </div>
      <div class="modal-body">
        
      <form role="form" id="cart_form" action={% if user.is_authenticated %}"/helpdesk/tickets/submit/"{% else %}"/helpdesk/"{% endif %} method="POST">
        {% csrf_token %}
        <!-- Hiden Fields -->
        <input type="hidden" name="title" id="id_title" value="Cart Form"/>
        <input type="hidden" name="queue" value="3"/>
        <input type="hidden" name="body" id="body" value=""/>
        <input type="hidden" name="priority" value="3"/>
        <!-- End of Hiden Fields -->
        <div class="form-group">
          <label for="name">Имя</label>
            <input type="text" class="form-control" name="name" id="id_name" placeholder="Введите Ваше имя" required/>
        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Телефон</label>
            <input type="phone" class="form-control" name="phone" id="id_phone" placeholder="Ваш номер телефона" required/>
        </div>
        <div class="form-group">
          <label for="id_submitter_email">Email</label>
            <input type="email" class="form-control" name="submitter_email" id="id_submitter_email" placeholder="Ваш почтовый ящик" required/>
        </div>
 	<div class="form-group">
          <label for="quantity">Количество</label>
            <input type="number" class="form-control" id="modal_quantity" name="1quantity" value="1" min="1" class="quantity-selector">
        </div>
        <div class="form-group">
          <label for="price">Стоимость</label>
            <input type="text" class="form-control" id="modal_price" name="price" readonly>
        </div>       
        
        <button type="submit" id="submit_button" class="btn btn-default">Заказать!</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </form>
    
    </div>
  </div>
  </div>
</div>

<!-- End Modal -->
<!-- Modal For Asking Question-->
<div class="modal fade" id="ask_modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Задать вопрос</h4>
      </div>
      <div class="modal-body">
        
      <form role="form" id="modal_ask_form" action={% if user.is_authenticated %}"/helpdesk/tickets/submit/"{% else %}"/helpdesk/"{% endif %} method="POST">
        {% csrf_token %}
        <!-- Hiden Fields -->
        <input type="hidden" name="title" id="id_title" value="Ask Question"/>
        <input type="hidden" name="queue" value="4"/>
        <input type="hidden" name="body" id="body_ask" value=""/>
        <input type="hidden" name="priority" value="3"/>
        <!-- End of Hiden Fields -->
        <div class="form-group">
          <label for="name">Имя</label>
            <input type="text" class="form-control" name="name" id="id_name_ask" placeholder="Введите Ваше имя" required/>
        </div>
        <div class="form-group">
          <label for="phone">Телефон</label>
            <input type="phone" class="form-control" name="phone" id="id_phone_ask" placeholder="Ваш номер телефона" required/>
        </div>
        <div class="form-group">
          <label for="id_submitter_email">Email</label>
            <input type="email" class="form-control" name="submitter_email" id="id_submitter_email_ask" placeholder="Ваш почтовый ящик" required/>
        </div>
        <div class="form-group">
          <label for="ask">Вопрос</label>
          <textarea class="form-control" name="ask" id="ask_ask" placeholder="Введите вопрос" rows="5" required></textarea>
        </div>
        
        <button type="submit" id="ask_button" class="btn btn-default">Отправить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </form>
    
    </div>
  </div>
  </div>
</div>

<!-- End Modal -->

{% endblock %}

{% block additional_scripts %}

<script type="text/javascript">
  $(document).ready(function(){
    $("#add_to_cart_button").click(function(){
        $('#modal_quantity').val($('#quantity').val());
        $('#modal_price').val(parseFloat( document.getElementById('ProductPrice').innerHTML ) * $('#quantity').val());
    });
    $('#modal_quantity').click(function(){
        $('#modal_price').val(parseFloat( document.getElementById('ProductPrice').innerHTML ) * $('#modal_quantity').val());
    });
})
</script>
<script type="text/javascript">
$(function() {
   $("#cart_form").on('submit', function (e) {
        e.preventDefault();
        $('#body').val("Пользователь " + $('#id_name').val() + " хочет купить  " + $('#modal_quantity').val() + " шт. товара " + document.getElementById('id_product_title').innerHTML + " (страница товара  " + document.getElementById('id_product_url').innerHTML + " ). Стоимость " + $('#modal_price').val() + ". Контакты: " + $('#id_phone').val() + " " + $('#id_submitter_email').val());

        var url = $(e.currentTarget).attr('action');
        var formData =  $(e.currentTarget).serialize();

        $.ajax({
            method: "POST",
            url: url,
            data: formData,
            success: function (response) {
                if (status == 302) {
                    window.location.replace("/about/");
                } else {
                    alert("Спасибо ".concat($('#id_name').val(),", Ваш заказ принят. Заказано ", document.getElementById('id_product_title').innerHTML, " в количестве ", $("#modal_quantity").val(), ". Стоимость: ", $("#modal_price").val(), ". С Вами свяжутся в скором времени."));
                    document.getElementById("cart_form").reset();
            }
        }
    });
});
});
</script>

<script type="text/javascript">
$(function() {
   $("#modal_ask_form").on('submit', function (e) {
    e.preventDefault();
    var url = $(e.currentTarget).attr('action');

    $('#body_ask').val("Пользователь " + $('#id_name_ask').val() + " задает вопрос касательно товара " + document.getElementById('id_product_title').innerHTML + " (ссылка на товар " + document.getElementById('id_product_url').innerHTML + " ). Вопрос: " + $('#ask_ask').val() + " Контакты: " + $('#id_phone_ask').val() + " " + $('#id_submitter_email_ask').val());

    var formData =  $(e.currentTarget).serialize();
    
    $.ajax({
        method: "POST",
        url: url,
        data: formData,
        success: function (response) {
            if (status == 302) {
                window.location.replace("/about/");
            } else {
                alert("Спасибо за Ваш вопрос, ".concat($('#id_name_ask').val(),". С Вами свяжутся в скором времени."));
                document.getElementById("modal_ask_form").reset();
            }
        }
    });
})
})
</script>


{% endblock %}
